SetEnv PHP_VER 5


SetEnv REGISTER_GLOBALS 0
SetEnv ZEND_OPTIMIZER 1
SetEnv MAGIC_QUOTES 0

RewriteEngine on

RewriteCond %{REQUEST_FILENAME}  !-f
RewriteRule ^medias/(.*)$ /datas/medias/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME}  !-f  [NC]
RewriteRule ^blog/(.*\.(gif|jpg|png))$ /datas/medias/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME}  !-f  [NC]
RewriteRule ^(.*\.(gif|jpg|png))$ /datas/medias/$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME}  !-f  [NC]
RewriteRule ^softwares/(.*)$ /$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME}  !-f  [NC]
RewriteCond %{REQUEST_URI} !^/owncloud  [NC]
RewriteRule ^(.*) /index.php?path=$1 [E=REMOTE_USER:%{HTTP:Authorization},L]