/*
Khertan.net
Author : Benoît HERVIER
Inspired by Jumo HTML Template (http://www.chris-creed.com)
*/

/* Colors: Orange - #F34607 */

@import "reset.css";


/* -------------------- */
/* -- General Styles -- */
/* -------------------- */
#wrap { width: 740px; margin: 0 auto; text-align: center; }
body { background-color: #fff; color: #222222;  font: 14px "Nokia Pure Text", "Myriad Pro",sans-serif; text-align: center; font-weight: 100; letter-spacing: -0.2px; line-height: 20px;}
h1 { font: 30px "Myriad Pro",sans-serif; margin: 10px 0 10px 0; color:#429DFF; padding-left: 0px; letter-spacing: -0.2px}
h2 { font: 20px "Myriad Pro",sans-serif; margin: 10px 0 10px 0; color:#555753; padding-left: 5px; letter-spacing: -0.2px}
h3 { font: 17px "Myriad Pro",sans-serif; margin: 20px 0 10px 0; padding-left: 10px;}
h4 { font: 16px "Myriad Pro",sans-serif; font-style: italic; margin: 30px 0 10px 0; }
h5 { font: 14px "Myriad Pro",sans-serif; margin: 10px 0 10px 0; }
h6 { font: 12px"Myriad Pro",sans-serif; margin: 10px 0 10px 0; }
//table {margin: 0 auto; width:100%; border:1px solid #333;}
//td {border-right:1px solid #999;border-bottom:1px solid #999;padding: 5px;}
//th {border-right:1px solid #999;border-bottom:1px solid #999;padding: 5px;}
a { color: #429DFF; text-decoration: none; }
a:hover { color: #222; }
em { font-style: italic; }
/*ol, ul { list-style: none; }*/
p { margin: 0 0 15px 0; padding-left: 15px; }
pre { padding-left: 15px; background: #eee; margin-bottom:20px;}
strong { font:inherit; font-style: bold; font-weight:bold}
ul, ol { padding-left: 50px;}
/* ------------- */
/* -- Helpers -- */
/* ------------- */
.title { margin: 0 0 15px 0; line-height: 30px; font-size: 18px; font-weight: bold; }
.no-top-margin { margin-top: 0; }
.cache-images { display: none; }
.hide { display: none; }
.icon-soft { float: right; margin:0px; padding:10px; width:64px;height:64px;}
/* ----------------- */
/* -- Main Layout -- */
/* ----------------- */
#main { padding: 10px 0 0 0; width: 740px; margin: 0px auto;}
#content { text-align: left; margin: -10px 0 0 0;  padding-left:20px; padding-right:20px; }
#content img {display: block; margin: 0 auto; padding: 8px; max-width: 500px; }

/* ------------ */
/* -- Header -- */
/* ------------ */
#header { padding: 10px 0 0 0; overflow: hidden; background-color: #333333;  }
#header h1 { color: #EEE;  margin: 0; }
#header h2 { color: #FFF; font-size: 20px; letter-spacing: -1px; margin: 0; font-weight: normal; }

/* --------- */
/* -- Nav -- */
/* --------- */
#nav { float: left; width: 100%; overflow: hidden; position: relative; margin: 10px 0 10px 0;  padding: 10px 0 8px 0; }
#nav ul { clear: left; float: left; margin: 0; padding: 0; position: relative; left: 50%; text-align: center;  }
#nav ul li { float: left; list-style: none; margin: 0; padding: 0; position: relative; right: 50%; }
#nav ul li a { margin: 0 0 0 1px; padding: 0; font-size: 16px; color: #BBB; text-transform: uppercase; }
#nav ul li a:hover { color: #429DFF; }
#nav li span { padding: 0 18px; color: #BBB; font-size: 16px; }
#nav li .current { color: #429DFF; }

/* -------------- */
/* -- Articles -- */
/* -------------- */
.article { margin: 15px 0 20px 0; background-color: #E3E3E3; padding: 5px 20px 5px 20px;
    -webkit-border-radius: 10px;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius: 10px;
    -moz-border-radius-bottomright: 0;
    border-radius: 10px;
    border-bottom-right-radius: 0;
 }
.article .title { margin: 0 0 -2px 0; font-size: 18px; }
.article p.meta { font-size: 16px; margin: 0 0 15px 0; color: #aaa; text-align: right;}
.next-articles { margin: 0 0 0 0; }
.more-link { display: block; margin: 20px 0 0 0; }
p.archive-link {display: block; text-align:center;}
.syntaxhighlighter { margin: 15px 15px 20px 15px; background-color: #E3E3E3; padding: 5px 20px 5px 20px; }
form { background-color: #E3E3E3;}
.article ul {margin-bottom: 20px;}
/* ---------------------- */
/* -- Bug Tracker Form -- */
/* ---------------------- */
table.bugtracker {margin: 10px 40px 10px 40px; border:0px solid #333;padding:10px;}
td.bugtracker {border-right:0px solid #999;border-bottom:0px solid #999;padding: 15px; vertical-align: middle;}
tr.bugtracker {border-right:0px solid #999;border-bottom:0px solid #999;padding: 15px;}
label {width:150px;}
input {width: 150px;}
input.fulllength {width:100%;}
textarea {width: 100%; }
p.leftalign {text-align: right;}
/* ------------ */
/* -- Footer -- */
/* ------------ */
#footer { clear: both; font-size: 14px; color: #888; padding: 0 0 20px 0; }
#footer .copyright { text-align: center; padding: 8px 0 0 0; }
.footer-line { border-bottom: 2px solid #eee; }
